body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  background-image: url("../src/images/foxes.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.correct {
  margin-top: 15px;
  width: 200px;
  padding: 7px 0;
  border: 5px solid green;
  border-radius: 10px;
  background:#571845;
  color:  #fff;
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
}
.incorrect {
  margin-top: 15px;
  width: 200px;
  padding: 7px 0;
  border: 5px solid red;
  border-radius: 10px;
  background:#571845;
  color:  #fff;
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #571845;
  color: #571845;
  width: 100vw;
  background-image: url("../src/images/foxes.jpg")

}

.text-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.294);
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 62px;
  padding-bottom: 54px;
}

.sub-title {
  display: flex;
  flex-direction: column;
  font-size: 52px;
  padding-bottom: 50px;
}

.start-button {
  width: 200px;
  height: 80px;
  font-size: 20px;
  border-radius: 20px;
  background-color: #571845;
  color: #fff;
  transition: 0.1s ease-in;
}

.start-button:hover {
  background-color: #742d5f;
}

